.section {
    background-color: #a7f5eb;
    background-image: url('./images/hero_1.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 500px; 
    max-width: 100%;
  }
  
  .content {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
   
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #8463e8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #6f51c6;
  }
  
 
  @media (max-width: 768px) {
    .section {
      flex-direction: column; 
      justify-content: center; 
      height: auto; 
      padding: 20px;
    }
  
    .content {
      max-width: 100%; 
      padding: 15px;
      text-align: center; 
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    p {
      font-size: 0.9rem; 
    }
  
    .button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
  

  @media (max-width: 1024px) {
    .section {
      height: 400px; 
      padding: 30px;
    }
  
    .content {
      max-width: 300px; 
    }
  
    h1 {
      font-size: 2rem; 
    }
  
    p {
      font-size: 0.95rem; 
    }
  
    .button {
      padding: 9px 18px;
      font-size: 0.95rem;
    }
  }
  

  @media (min-width: 1025px) {
    .section {
      height: 500px; 
    }
  
    .content {
      max-width: 400px; 
    }
  
    h1 {
      font-size: 2.5rem; 
    }
  
    p {
      font-size: 1rem;
    }
  
    .button {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
  